@{ Layout = null; }
@model TedAzApp.Models.ViewModels.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - TedAz</title>
    <link href="~/styles/css/style.css" rel="stylesheet" />
    <title>Tedaz</title>
</head>
<body>

    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-4 ">
                <div class="sign-form">
                    <div class="sign-form__header">
                        <p>Sign In</p>
                        <div class="sign-form__user-image">
                            <img src="~/img/Bitmap.png" alt="">
                        </div>
                    </div>
                    <div class="sign-form__body">
                        <form method="post" asp-controller="Account" asp-action="Login"
                              asp-route-returnUrl="@Model.ReturnUrl" id="main-form">
                            <ul>
                                <li class="j-between">

                                    <input placeholder="Email adress" type="email" name="email" asp-for="Email">
                                    <span asp-validation-for="Email"></span>
                                    <div> <img src="~/img/user.png" alt="email"></div>
                                </li>
                                <li class="j-between">

                                    <input placeholder="Password" type="password" name="password" asp-for="Password">
                                    <span asp-validation-for="Email"></span>
                                    <div><img src="~/img/passw.png" alt="email"></div>

                                </li>
                            
                                <li>

                                    <ul class="sign-social">
                                        <li>
                                            <a href="#">
                                                <img src="~/img/google.png" alt="google.com">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="~/img/facebook.png" alt="facebook.com">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="~/img/twit.png" alt="twetter.com">
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </form>

                    </div>
                    <div class="accept-privacy j-between">
                        <div>
                            <div class="accept-privacy__check">
                                <input  type="checkbox" name="remember" asp-for="RememberMe">
                                @*<img src="~/img/check-mark.png" alt="checked">*@
                            </div>
                            <span>
                                Remember me
                            </span>
                        </div>
                        <a href="#">Forgot Password?</a>
                    </div>

                    <button type="submit" class="sign-form-button" value="Войти" form="main-form">
                        <img src="~/img/3-layers.png" alt="accept">
                    </button>
                    @*<button form="main-form" class="sign-form-button" formmethod="post" asp-controller="Account" asp-action="Login">
            <img src="~/img/3-layers.png" alt="accept">
        </button>*@
                    <div class="sign-form__question">
                        <p>
                            Dont have an account?
                        </p>
                        <a asp-controller="Account" asp-action="Register">Sign Up</a>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="~/js/extra/m-jquery.min.js"></script>
    <script src="~/js/extra/m-popper.min.js"></script>
    <script src="~/js/extra/m-bootstrap.min.js"></script>
    <script src="~/js/extra/bootstrap-select.min.js"></script>
    <script src="~/js/extra/date-time-picker.js"></script>
</body>
</html>