/* 
* COMMON VARİABLES FOR MAİN THEME
* Unless required by applicable law or agreed to in writing,
* software distributed under the license is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the license for the
* specific language governing permissions and limitations
* under the license. Created by SA 
*/
$pColor: #005a80;
$sColor: #8a7474;
$tColor: #c39200;

$rgba1: 0;
$rgba2: 90;
$rgba3: 128;
