@{
    ViewData["Title"] = "Home Page";
    Layout = "";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - TedAz</title>
    <link href="~/styles/css/style.css" rel="stylesheet" />
    <title>Tedaz</title>
</head>
<body>
    <!-- upper-header -->
    <div class="container-fluid p-0">
        <div class="logo-monitoring">
            <div class="row no-gutters">

                <div class="col-2 offset-2  ">
                    <img src="img/monitoring.png" alt="notes">
                </div>

            </div>
        </div>
    </div>
    <!-- upper-header end -->
    <!-- acces-denied -->
    <div class="container-fluid p-0">
        <div class="row no-gutters d-flex justify-content-center align-items-center">
            <div class="col-6 text-right col-lg-4">
                <p class="acces-denied">
                    Yalnız səlahiyyətli istifadəçilər üçün mövcuddur!
                </p>
            </div>
            <div class="col-6 col-lg-4 d-flex justify-content-between align-items-center">
                <div class="redirect">
                    <div>
                        <img src="img/connection.png" alt="">
                    </div>
                    <a href="#">
                        Ümumi bir əlaqə yaradın
                    </a>
                </div>
                <button class="acces-cancel ">
                    <img src="img/x-btn.png" alt="cancel">
                </button>
            </div>
        </div>
    </div>
    <!-- acces-denied end -->
    <!-- body-->
    <div class="gallery-wrapper">
        <div class="container-fluid container-lg galery-bg">
            <div class="gallery-body">
                <div class="row ">
                    <div class="col-4 col-lg-3 col-xl-2 ">
                        <div class="gallery-element">
                            <div class="gallery-element__img">
                                <img src="img/test-img/forest-931706__340.webp" alt="gallery-image">
                            </div>
                            <div class="gallery-element__title">
                                <div class="d-flex flex-column align-items-end ">
                                    <div class="text-hider">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos doloremque est magni aliquam repellendus quam iste aut ipsam dolores modi, commodi omnis asperiores neque laudantium non, voluptates dolore et enim. Optio facere recusandae accusamus aperiam illum praesentium amet illo asperiores repudiandae tempore? Quisquam nam fugit doloribus quam quibusdam at dfgjholorum.
                                        </p>
                                    </div>
                                    <button class="more-info-button">
                                        <img src="img/user-down.png" alt="down">
                                    </button>
                                </div>
                            </div>
                            <div class="gallery-element__client">
                                <div class="d-flex align-items-center w-100">
                                    <div class="client-img">
                                        <img src="img/phonepicutres-TA.jpg" alt="client-photo">
                                    </div>
                                    <div class="client-info">
                                        <p>Amina Quliyeva</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="client-info__social">
                                                <img alt="twitter.com" class="vC4TLKEPzXJ_04VmGF6hI" title="twitter.com" src="https://www.google.com/s2/favicons?domain=help.twitter.com" width="14" height="14">
                                                <p>twitter</p>
                                            </div>
                                            <div>
                                                <span class="gallery-publish-date">
                                                    <time>1</time>saat evvel
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 ">
                        <div class="gallery-element">
                            <div class="gallery-element__img">
                                <img src="img/test-img/forest-931706__340.webp" alt="gallery-image">
                            </div>
                            <div class="gallery-element__title">
                                <div class="d-flex flex-column align-items-end ">
                                    <div class="text-hider">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos doloremque est magni aliquam repellendus quam iste aut ipsam dolores modi, commodi omnis asperiores neque laudantium non, voluptates dolore et enim. Optio facere recusandae accusamus aperiam illum praesentium amet illo asperiores repudiandae tempore? Quisquam nam fugit doloribus quam quibusdam at dfgjholorum.
                                        </p>
                                    </div>
                                    <button class="more-info-button">
                                        <img src="img/user-down.png" alt="down">
                                    </button>
                                </div>
                            </div>
                            <div class="gallery-element__client">
                                <div class="d-flex align-items-center w-100">
                                    <div class="client-img">
                                        <img src="img/phonepicutres-TA.jpg" alt="client-photo">
                                    </div>
                                    <div class="client-info">
                                        <p>Amina Quliyeva</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="client-info__social">
                                                <img alt="twitter.com" class="vC4TLKEPzXJ_04VmGF6hI" title="twitter.com" src="https://www.google.com/s2/favicons?domain=help.twitter.com" width="14" height="14">
                                                <p>twitter</p>
                                            </div>
                                            <div>
                                                <span class="gallery-publish-date">
                                                    <time>1</time>saat evvel
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- body end -->





    <script src="~/js/extra/m-jquery.min.js"></script>
    <script src="~/js/extra/m-popper.min.js"></script>
    <script src="~/js/extra/m-bootstrap.min.js"></script>
    <script src="~/js/extra/bootstrap-select.min.js"></script>
    <script src="~/js/extra/moment-min.js"></script>
    <script src="~/js/extra/lightpick.js"></script>
    <script src="~/js/extra/font-awesome.js"></script>
    <script src="~/js/main/script.js"></script>
</body>

</html>