@{
    ViewData["Title"] = "Bildiriş al";
    ViewData["Image"] = "/img/header-logo/notifications.png";

}
<header class="header-main">
    <div class="container-fluid p-0">
        <nav>
            @await Html.PartialAsync("../Shared/_HeaderMenu", ViewData)
        </nav>
    </div>
</header>
<main role="main">
    <div class="container-fluid p-0">
        <div class="tab-el" id="tab1C">

            <div class="row no-gutters">
                <div class="col-12">
                    <div class="main-post block">
                        <div class="block__header">
                            <div class="d-flex align-items-center">
                                <div class="block-logo">
                                    <div>
                                        <img src="~/img/get-not.png" alt="">
                                    </div>
                                </div>
                                <div class="block-name">
                                    <p>Gündəlik hesabat</p>
                                </div>
                            </div>
                            <div class="block-toggle">
                                <label class="m-0">
                                    <input class="cb cb1" type="checkbox" name="social" checked />
                                    <i></i>

                                </label>
                            </div>
                        </div>
                        <div class="block__body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, nemo.
                            </p>
                        </div>

                    </div>
                    <div class="main-post block">
                        <div class="block__header">
                            <div class="d-flex align-items-center">
                                <div class="block-logo">
                                    <div>
                                        <img src="~/img/5-layers (2).png" alt="">
                                    </div>
                                </div>
                                <div class="block-name">
                                    <p>Gündəlik hesabat</p>
                                </div>
                            </div>
                            <div class="block-toggle">
                                <label class="m-0">
                                    <input class="cb cb1" type="checkbox" name="social" checked />
                                    <i></i>

                                </label>
                            </div>
                        </div>
                        <div class="block__body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, nemo.
                            </p>
                        </div>

                    </div>

                </div>


            </div>

        </div>
        <div class="tab-el" id="tab2C">

            <div class="row">
                <div class="col-12">
                    <div class="main-post block">
                        <div class="block__header">
                            <div class="d-flex align-items-center">
                                <div class="block-logo">
                                    <div>
                                        <img src="~/img/5-layers (2).png" alt="">
                                    </div>
                                </div>
                                <div class="block-name">
                                    <p>Gündəlik hesabat</p>
                                </div>
                            </div>
                            <div class="block-toggle">
                                <label class="m-0">
                                    <input class="cb cb1" type="checkbox" name="social" checked />
                                    <i></i>

                                </label>
                            </div>
                        </div>


                    </div>

                </div>


            </div>

        </div>

    </div>
</main>