$black: #18191b;
$gray: #646464;

$text-black:#192c36;

$border-gray: #e2e2e2;
$input-gray:#aec0cc;
$lighter-gray: #f3f3f3;
$header-gray:#ebebeb;
$body-gray: #ebebeb;
$prog-gray:#cdd9e6;
$body-blue: #4d66c6;
$text-blue: #5987ff;
$galery-blue:#121f54;

$post-color:#3e5e85;
$falling-color:#364d59;

$menu-hover:#687dcf;

$fa-font-path:"../webfonts";
$px-13: calc(10px + 3 * (100vw / 1850));
$px-18: calc(15px + 3 * (100vw / 1850));
$px-14: calc(10px + 4 * (100vw / 1850));


// $px-18:;
$white:#FFFF;
$green: #155724;
$red: #980202;
// $yellow: #ffc107;
$yellow: #d6a000;