/* 
* COMMON VARİABLES FOR DARK THEME
* Unless required by applicable law or agreed to in writing,
* software distributed under the license is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the license for the
* specific language governing permissions and limitations
* under the license. Created by SA 
*/
$pColor: #272727;
$sColor: #9b9b9b;
$tColor: #750000;

$rgba1: 39;
$rgba2: 39;
$rgba3: 39;