.drop-menu {
    position: relative;
    z-index:111;
    &__header {
        position: relative;
    }
    &__list {
        padding-top: 20px;
        

        li {
            a{
                padding: 5px 8px 5px 25px;
                display: flex;
                div{
                    margin-left: 10px;

                }
            &:hover{
                background-color: $menu-hover;
                cursor: pointer;

            }
            }

            span {
                svg {
                    transition: 0.3s;
                    fill: $white;
                }
            }
            a {
                
                font-family: "Estre";
                font-size: 15px;
                color: $white;
            }
        }
    }
    &__inner {
        display: none;
      ul{
          li{
            a{
                padding-left: 50px;
              
            }
          }
      }
    }
    .drop-wrapper{
        width: 100%;
        height:100%;
        overflow: scroll;

    }
    &__messenger {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__inner.show-drop {
        display: block;
    }
}
.menu-btn {
    .menu-arrow {
        display: inline;
        margin-left: 15px;
    }
}
::-webkit-scrollbar {
    width: 0px !important;
}
.show-drop.header-search{
    display:block;
}
.header-search {
    display: none;
    position: absolute;
    top: 100%;
    right: 5px;
    background-color: $body-blue;
    border: 1px solid #7789d0;
    border-radius: 5px;
    padding: 16px;

    &__wrapper {
        width: 320px;
        form {
            position: relative;
            input {
                border-radius: 3px;
                border:none;
                border: 1px solid transparent;
                width: 100%;
                padding: 4px 32px 4px 6px;
                outline: none;
                &:focus{
                    border-color: #425ab7;
                }
                
            }
            .form-search{
                position: absolute;
                right: 3px;
                top: 50%;
                transform: translateY(-50%);
                color: $input-gray;
                &:focus{
                    outline:none;
                }
            }
        }
        ul {
            margin-top: 10px;
            li {
                &:hover{
                    background-color:#425ab7 ;
                    cursor: pointer;
                }
                padding: 6px 8px;
                a {
                    color: $white;
                    display: block;
                }
            }
        }
    }
}
.choosen-menu{
    fill:#5987ff !important;
}
