progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-color: $prog-gray;
  border-radius: 5px;
}

.progress-table::-webkit-progress-bar {
  background-color: #6daaec;
  border-radius: 5px;
}

.link-table {
  .progress {
    height: 9px;
    margin-top: 8px;
    background-color: #6daaec;

    .progress-bar {
      background-color: red;
    }
  }
}
