@font-face {
    font-family: "Sero Bold";
    src: url(../webfonts/SeroPro-Bold.ttf);
}

@font-face {
    font-family: "Sero Medium";
    src: url(../webfonts/SeroPro-Medium.ttf);
}

@font-face {
    font-family: "Sero Regular";
    src: url(../webfonts/SeroPro.ttf);
}

@font-face {
    font-family: "Estre";
    src: url(../webfonts/estre.ttf);
}

@font-face {
    font-family: "FallingSky";
    src: url(../webfonts/FallingSky.otf);
}

$font: "Sero Regular";