.loader {
    background: rgba($rgba1, $rgba2, $rgba3, 0.8);
    background: rgba(171, 171, 171, 0.8);
    backdrop-filter: blur(38px);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__set {
        position: absolute;
        top: 50%;
        left: 50%;
        &:last-child {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    &__circle {
        width: 25px;
        height: 25px;
        position: absolute;
        background: $tColor;
        border-radius: 50%;
        margin: -12.5px;
        -webkit-animation: mesh 3s ease-in-out infinite;
        animation: mesh 3s ease-in-out infinite -1.5s;
        &:last-child {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
    }


}

@-webkit-keyframes mesh {
    0% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    50% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    50.00001% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes mesh {
    0% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    50% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    50.00001% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}